.branch {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.branch h2 {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}

.branch img.lostfile {
    max-width: 40%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.branch img.lostfile:hover {
    transform: scale(1.03);
}



