
  
  /* edit  */
  .edit-container {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .within {
    font-family: var(--primary_font);
    width: 100%;
  }
  
  .back-link {
    display: block;
    margin-bottom: 20px;
    font-size: 18px;
    color: #333;
  }
  
  .edit-heading {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .input-label {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
    color: #333;
  }
  
  .input-field {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 10px;
  }
  
  .text-field {
    height: 10rem;
    max-width: 100%;
    border: 2px solid black;
  
  
  }
  
  .search-button,
  .update-button {
    padding: 10px 20px;
    background-color: var(--primary_color);
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 8rem;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search-button:hover,
  .update-button:hover {
    background-color: #0056b3;
  }
  
  .message-text {
    font-size: 16px;
    margin-top: 10px;
  }
  
  
  
  /* admin page  */
  .admin-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 20px;
  }
  
  .admin-heading {
    font-size: 36px;
    color: #333;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .admin-activities {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
  }
  
  .admin-activity {
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .activity-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .activity-description {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .activity-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary_color);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .activity-link:hover {
    background-color: #282e36;
  }
  
  .input-div {
    font-size: 13px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .diy {
    display: grid;
    grid-template-columns: 1fr 1fr; 
  }
  
  .selfitem-container {
    border: 2px black solid;
    margin-top: 25px;
    border-radius: 1rem;
    padding: 12px;
    margin-right: 20px;
  }

  @media (max-width: 550px) {

  .edit-container {
    width: 90vw;
    padding: 8px;
  }}

  @media (max-width: 430px) {
    .diy {
      display: grid;
      grid-template-columns: 1fr; 
    }
  }