.cart-container {
  margin: 20px 250px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}

.cart-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.back-btn {
  cursor: pointer;
  margin-right: 10px;
  font-size: 24px;
  transition: transform 0.3s ease;
  color: var(--primary_color);
}

.back-btn:hover {
  transform: rotate(-20deg);
}

h1 {
  font-size: 24px;
  color: #333;
}

.class-header {
  color: var(--primary_color);
  font-family: var(--primary_font);

  font-size: 22px !important;
  font-weight: 600;
  margin-left: 15px;
}

/* Styling for the cart items list */
.cart-list {
  list-style: none;
  padding: 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}


.cart-item:last-child {
  border-bottom: none;
}

.cart-item-details {
  display: flex;
  align-items: center;
  width: 50%;
}

.cart-item-image {
  margin-right: 20px;
}

.cart-item-image img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.cart-item-image img:hover {
  transform: scale(0.9);
}

.cart-item-info {
  font-family: "Tilt Neon", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "XROT" 8,
    "YROT" -2;
  max-width: 50%;
}

.cart-item-info h3 {
  font-size: 15px;
  max-width: 80%;
  margin-bottom: 3px;
}

.cart-item-info p {
  font-size: 12px;
  margin-bottom: 3px;
  color: #666;
}

.cart-item-info a {
  color: #1f456ea9;
  text-decoration: none;
  transition: color 0.3s ease;
}

.cart-item-info a:hover {
  color: #0057b3c8;
}

.cart-item-actions {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  font-family: "Reem Kufi Fun", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.item-quantity {
  margin-right: 20px;
}

.item-quantity span {
  font-size: 14px;
  margin-right: 1rem;
  font-weight: bold;
  color: #333;
}

.item-quantity select {
  width: 60px;
  padding: 5px;
  border-radius: 5px;
}

.item-price p {
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
}

.remove-btn {
  padding: 8px 16px;
  background-color: var(--primary_color);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.remove-btn:hover {
  background-color: #c82333;
}

.empty-cart-message-container {
  text-align: center;
  margin-top: 50px;
  font-family: var(--primary_font);

}

.empty-cart-message-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.empty-cart-message-content p {
  font-size: 16px;
  color: #666;
}

.checkout-section {
  margin-top: 40px;
  font-family: "Reem Kufi Fun", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-family: var(--primary_font);


}

.checkout-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.checkout-table {
  width: 100%;
  border-collapse: collapse;

}

.checkout-table td {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  color: #333;
  font-family: var(--primary_font);


}

.checkout-table td:first-child {
  width: 70%;
}

.payment-status {
  text-align: center;
  padding: 20px;
}

.payment-success-icon {
  color: var(--primary_color) !important;
  font-size: 48px;
  margin-bottom: 20px;
}

.checkcolor {
  color: var(--primary_color) !important;
  font-family: var(--primary_font);

}

.pay-btn,
.continue-shopping-btn {
  background-color: var(--primary_color);
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 4px;
  font-family: var(--primary_font);

}

.ltl,
.ltl td {
  margin-top: 2rem;
  border-top: 2px solid var(--primary_color);
  color: black;
  padding-top: 3rem;
}


@media (max-width: 1260px) {
  .cart-container {
    margin: 20px 150px;
  }
}

@media (max-width: 930px) {
  .cart-container {
    margin: 20px 50px;
  }
}

@media (max-width: 700px) {
  .cart-container {
    margin: 10px 10px;
    padding: 10px;
  }
}


@media (max-width: 600px) {
  .cart-item-actions {
    width: 50%;
    display: flex;
    flex-direction: column;

  }

  .cart-item-details {
    width: 100%;
  }
}

@media (max-width: 380px) {
  .cart-item-image img {
    display: none;
  }
}