.written-content {
  position: relative;
}

.load {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  font-size: 24px;
  color: #555;
}

.error1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  font-size: 24px;
  color: #f00;
}

.link-color {
  color: #000000;
}

.link-color:hover {
  color: var(--primary_color);
}