  
  h1 {
    font-size: 24px;
    color: #333;
  }

  .back-btn {
    cursor: pointer;
    margin-right: 10px;
    font-size: 24px;
    transition: transform 0.3s ease;
    color: var(--primary_color);
  }

  .back-btn:hover {
    transform: rotate(-20deg);
  }

  .button {
    padding: 13px;
    color: #fff;
    width: 18rem;
    margin: 0 auto;
    font-weight: 600;
    background-color: #0D6EFD;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
   
  .button:hover {
    background-color: #0d6dfdca;
  }

  .product-name {
    font-size: 13px;
    font-family: var(--font);
    font-weight: 700;
    display: block;
    height: 2.2rem;
  }
  
  .product-desc {
    font-size: 11.8px;
    font-family: var(--font);
    font-weight: 400;
    display: block;
    height: 2.3rem;
  }

  .small-table{
    font-size: 12px;
  }

  .showcasecontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
    margin-bottom: 3rem;
  }

  .productCard {
    box-shadow: 0px 0px 10px 1px rgba(56, 135, 56, 0.633);
    padding-top: 3px;
    border-radius: 8px;
    width: calc(22%);
    word-break: break-all;
  }

  .item-not-found-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }
  
  .item-not-found-content {
    text-align: center;
    padding: 40px;
    border-radius: 20px;
    background-color: #fff;
  }
  
  
  .item-not-found-content h2 {
    color: #e74c3c;
    font-size: 36px;
    margin: 0 0 20px;
  }
  
  .item-not-found-content p {
    color: #666;
    font-size: 20px;
    margin: 0;
  }

