.groceries-order {
    width: 91vw;
    margin: auto;
    position: relative;
}
  
.groceries-order h1 {
    font-size: 36px;
    font-family: var(--font);
    margin-bottom: 2rem;
}
  
.groceries-order .branch {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    background-color: rgba(219, 222, 225, 0.352);
    box-shadow: 0px 1px 3px gray;
    padding: 1rem;
    border-radius: 20px;
}
  
.groceries-order .lostfile {
    width: 35rem;
    height: 19rem;
    border-radius: 10px;
    object-fit: cover;
    object-position: bottom;
}
  
.groceries-order .productCard {
    width: calc(13%);
}
  
.groceries-order .product-desc {
    display: none;
}
  
.groceries-order .cot-tain {
    height: 2rem;
}
  
.groceries-order .img-container {
    height: 110px;
    margin-top: 5px;
}
  
.groceries-order .img-style {
    height: 90%;
}
