.grid-option {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.cateogory {
  background-color: rgb(240, 187, 187);
  height: calc(100vh - 5rem);
  border-right: 2px solid black;
  padding: 1rem;
}






.shave{
  width: calc(19% - 10px);
}

.sublinkclass{
  color: var(--primary_color);
  font-family: var(--primary_font);
 
}
.mainh{
  color: var(--primary_color);
  font-family: var(--primary_font);
  
}
@media screen and (max-width: 1200px) {
  .shave{
    width: calc(25% - 20px);
  }
}


@media screen and (max-width: 1000px) {
  .productCard {
    width: calc(33% - 20px);
  }
  .product-name {
    font-size: 15px;
  }
  
}
@media screen and (max-width: 730px) {
  .grid-option {
    display: block;
  }
  .product-name {
    font-size: 14px;
  }
  .prod-details{
    padding: 5px;
  }
  .prd-price {
    font-size: 10px;
  }
  .product-desc{
    font-size: 12px;
  }
  
}

@media screen and (max-width: 550px) {
  .product-name {
    font-size: 11px;
  }
  .product-desc{
    font-size: 11px;
  }
  .mainh{
    font-size: 17px;
  }
}

@media screen and (max-width: 460px) {

  .productCard {
    width: calc(50% - 20px);
  }
  .mainh{
    font-size: 14px;
  }
}
@media screen and (max-width: 300px) {

  .productCard {
    width: calc(100% - 20px);
  }
  .mainh{
    font-size: 12px;
  }
}