.grid-items {
  display: grid;
  grid-template-columns: 2fr 4fr 1.5fr;
  padding: 1rem;
}

.center-stage {
  border-left: 4px solid rgba(202, 202, 202, 0.744);
  border-right: 4px solid rgba(202, 202, 202, 0.744);
  padding: 1rem;
  box-sizing: border-box;
  width: 100%;
}

.center-stage h2 {
  font-family: var(--primary_font);
  font-weight: 700;
  font-style: normal;
  color: var(--primary_color);
}

.center-stage p {
  font-family: var(--primary_font);
  font-weight: 100;
  text-align: justify;
  font-size: 13px;
  max-height: 11.7rem;
  overflow-y: hidden;
}

.slider {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 40rem;
}

.slide {
  display: none;
  height: 320px;
  background-size: cover;
  background-repeat: no-repeat;
}



.active2 {
  display: block;
}

.prev,
.next {
  position: absolute;
  top: 230px;
  transform: translateY(-50%);
  font-size: 1.5em;
  background: none;
  border: none;
  cursor: pointer;
  border: 2px solid black;
  background-color: black;
  color: white;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.about-item-container {
  margin-top: 20px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.box h4,
.about-item-title {
  color: var(--primary_color);
  font-family: var(--primary_font);
  font-weight: 700;
  font-style: normal;
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 10px;
}

.about-item-list {
  list-style-type: none;
  padding: 0;
}

.about-item-description {
  color: #555;
  font-size: 13px;
  margin-bottom: 10px;
}

.img-size2 {
  width: 100%;
}

.img-group-padd {
  padding: 0rem 3rem;
}

.box {
  font-weight: 100;
  font-size: 13px;
  padding: 1rem;
  padding-bottom: 0;
  margin-left: 0;
  min-height: 20rem;
  display: flex;
  flex-direction: column;
}

#quantitySelect {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 80px;
  cursor: pointer;
  background-color: #f9f9f9;
  color: #333;
}

#quantitySelect option {
  background-color: #fff;
  color: #333;
}

.button {
  padding: 12px;
  color: #fff;
  font-weight: 600;
  background-color: var(--primary_color);
  border-radius: 10px;
  border: 3px solid rgba(202, 202, 202, 0.744);
  width: 100%;
  cursor: pointer;
}

.button:hover {
  filter: drop-shadow(30px);
}

.item-added {
  background-color: grey;
}

.arrowFix {
  position: absolute;
  z-index: 3;
  color: var(--primary_color);
  margin-left: 2rem;
  margin-top: 8px;
  width: 2rem;
  height: 2rem;
}

.small-b {
  color: rgba(0, 0, 255, 0.755);
  font-size: 13px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin-top: 2rem;
}













.cmmt-section {
  padding: 3rem;
  box-sizing: border-box;
  background-color: rgba(240, 240, 240, 0.485);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.spt-btton {
  max-width: 300px;
  margin-top: 1.5rem;
}

.errbad {
  color: red;
  font-size: 13px;
}

.cmmt-section textarea.tx-ar {
  width: 100%;
  height: 150px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
}


.cmmt-section .container-comments {
  border: 1px solid #ccc;
  padding: 20px;
  padding-bottom: 0px;
  font-family: var(--primary_font);
  margin-bottom: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.cmmt-section .fl {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  justify-content: space-between;
  gap: 2rem;
}

.cmmt-section form textarea.tx-ar {
  resize: none;
  outline: none;
}

.cmmt-section .small-date {
  color: #888;
  text-align: right;
  font-size: 12px;
}
 
.fg{
  font-size: 12px;
}











.select-statement {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  appearance: none; /* Remove default appearance */
  background-color: #fff; /* White background */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="black" d="M6 8l4 4 4-4z"/></svg>'); /* Custom arrow */
  background-repeat: no-repeat;
  background-position: right 10px center;
  cursor: pointer;
}




td {
  width: 30rem;
  font-size: 14px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.payment-form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.payment-form-container h2 {
  margin-bottom: 20px;
}

.payment-form-container .form-group {
  margin-bottom: 15px;
}

.payment-form-container .form-group label {
  display: block;
  margin-bottom: 5px;
}

.payment-form-container input[type='text'],
.payment-form-container input[type='email'],
.payment-form-container input[type='tel'],
.payment-form-container textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.payment-form-container button[type='submit'] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.payment-form-container button[type='submit']:hover {
  background-color: #45a049;
}

.search-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.back-icon {
  font-size: 2rem;
  margin-left: 5rem;
  cursor: pointer;
}

.searchbar {
  padding: 0.5rem 1rem;
  width: 75vw;
  border: 2px solid #ccc;
  border-radius: 20px;
  outline: none;
  margin-left: 12rem;
  margin-top: 1.2rem;
}

.search-prompt-container {
  text-align: center;
  margin-top: 2rem;
}

.search-prompt-container h2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #666;
}

.search-prompt-container p {
  font-size: 1rem;
  color: #666;
}

.search-results-header {
  text-align: center;
  margin-top: 2rem;
  font-size: 2rem;
}

.search-prompt-container {
  padding: 20px;
  margin: 20px auto;
  max-width: 90vw;
  text-align: center;
}

.relative {
  position: relative;
}

@media (max-width: 1200px) {
  .slide {
    height: 280px;
    width: 100%;
    margin-top: -200px;
  }
}

@media (max-width: 1000px) {
  .slide {
    height: 280px;
    width: 100%;
    margin-top: -200px;
  }

  .grid-items {
    display: grid;
    grid-template-columns: 2fr 4fr;
    padding: 1rem;
  }

  .box {
    grid-column: 1 / span 3;
    justify-content: end;
    justify-items: end;
    align-items: start;
  }
}

@media (max-width: 650px) {

  /* .slide {
      height: 280px;
      width: 100%;
      margin-top: -200px;
    } */
  .grid-items {
    display: block;
    margin-top: 1rem;
  }

  .slider {
    max-width: 20rem;
    height: 10rem;
    overflow: visible;
    margin-top: 6rem;
    margin-bottom: -4rem;

  }

  .prev,
  .next {
    position: absolute;
    top: 0px;
  }

  .dfffa {
    font-size: 13px;
    text-align: justify;
    font-family: "Bree Serif", serif !important;
  }

  .box {
    justify-content: end;
    justify-items: end;
    align-items: start;
  }
}