/* Product page */
.product-edit {
    padding: 1rem;
    gap: 16px;
  }
  
  .product-flex {
    width: 14rem;
    border: 2px solid black;
    padding: 10px;
    border-radius: 15px;
  }
  
  .pdt-img {
    width: 100%;
    height: 12rem;
  }
  .content-grid {
    border: 2px solid rgb(198, 196, 196);
    height: 440px;
  }

  .img-container{
    height: 160px;
  }
  
  .cot-tain{
    min-height: 132px;
    margin-top: 7px;
  }

  